extends ../layout//layout.pug
block content

    h1 Add new Books

    form(action="/books/add", method="post")
        .form-group
            label(for="name") Name
            input#name.form-control(type="text",name="name")
        .form-group
            label(for="price") Price
            input#price.form-control(type="number", name="price")
        button.btn.btn-primary Add